.App {
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 5%;
  align-content: center;
  align-items: center;
  margin-top: 15%;
}
.App>button{
  background-color: rgb(245,215,142);
  color: black;
  padding: 2% 4%;
  border-radius: 3px;
  cursor: pointer;
  font-weight: 500;
  font-size: 20px;
}

.App>button:hover{
  background-color: rgb(241,198,91);
}
.filterdiv{
  display: flex;
  justify-content: center;
  justify-content: space-around;
}





